<p id="notice"><%= notice %></p>

<h1>AllTrails Calorie Counter</h1>
<div class="nav"></div>
<div>
  <label>Weight (lbs)</label>
  <input type="range" name="pounds" id="weight" value="150" min="75" max="300" step="5.0">
  <label id="weightLabel" class="displayInfo">150 pounds</label>
</div>
<div>
  <label>Pace (MPH)</label>
  <input type="range" name="pace" id="speed" value="1" min="0" max="12" step="0.5">
  <label id="speedLabel" class="displayInfo">1 MPH</label>
</div>
<div>
  <label>Age</label>
  <input type="range" name="age" id="ageEntry" value="23" min="10" max="120" step="1">
  <label id="ageLabel" class="displayInfo">23 years old</label>
</div>
<div>
  <label>Trail Info</label>
  <select id="trailPicker">
    <% @trails.each do |eachtrail| %>
      <%= content_tag(:option, eachtrail.name, value: eachtrail.idNum) %>
    <% end %>
  </select>
  <label id="distanceLabel" class="displayInfo">0 Miles</label>
  <label id="elevationLabel" class="displayInfo">0 feet gained</label>
</div>
<h2 id="calorieLabel">0 calories</h2>

<br>


<%= link_to 'New Trail', new_trail_path %>
